body{
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:50px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
form{
    background-color: cornsilk;
    padding:25px;
    border-radius: 20px;
}
label{
    color:cornflowerblue;
    font-weight: bold;
    border-bottom:1px solid cornflowerblue;
    display:block;
}
input{
    padding:10px;
    border-radius: 5px;
    border: 1px solid coral;
}
button[type=submit]{
    background-color: crimson;
    padding:15px 30px;
    color:cornsilk;
    border:0;
}
h1{
    color:crimson;
    text-align:center;
}
small{
    color:crimson;
}



/* password toggle start */
.input[type=password] {
    position: relative;
    display: inline-block;
 }

 .input[type=password] .fa-eye {
    position: absolute;
    top: 76%;
    right: 22px; /* Adjust this value to control the icon's position */
    transform: translateY(-50%);
    cursor: pointer;
 }
 .input[type=password] .fa-eye-slash {
    position: absolute;
    top: 76%;
    right: 22px; /* Adjust this value to control the icon's position */
    transform: translateY(-50%);
    cursor: pointer;
 }
/* password toggle end */