body{
    background-image: url("bg.jfif");
    background-size: cover;

    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    text-align:center;    
}
h2{
    color:darkred;
}
blockquote{
    color:darkolivegreen;
}


nav{

}

ul{
    display: flex;
    list-style: none;
}
li{
    padding:15px;
}

main{
    margin:25px 100px;
}

img.profilepic{
    max-width:150px;
    border: 3px solid darkred;
    border-radius: 50%;

    padding:10px;
    margin:20px;

    float:left;
}

img.portfolio{
    border:3px solid grey;
    width:200px;
    height:200px;
    object-fit: cover;

    margin:15px;
    opacity:.7;
}

footer{
    text-align:center;
}

a{
    color:darkred;
}



.portfolioimages{
    display:flex;
    margin:0;
    padding:0;
}
figure{
    border:1px solid lightgray;
    margin:10px;
    padding:0;
}
figcaption{
    color:lightgray;
    margin:0;
    padding:0;
    padding:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}