body{
    background-color: gold;
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
}
form{
    margin:100px auto;
    background-color: goldenrod;
    border: 1px solid ghostwhite;
    padding:75px;
    border-radius: 50px;
}
label{
    font-weight:bold;
    display:block;
    color:darkgreen;
}
input[type=text], 
input[type=email],
input[type=password]
{
    display: block;
    padding:20px;
    border: 1px solid ghostwhite;
    width:85%;
}
button[type="submit"]{
    padding:20px;
    background-color: darkgreen;
    color:gold;
    border:1px solid green;
    font-weight:bold;
    border-radius: 20px;
}

h1{
    background-color: darkgreen;
    color:gold;
    padding:20px;
    border-radius:20px;
}
h2{
    color:brown;
}
small{
    color:deeppink;
}

@media screen and (max-width:680px){

    h1{
        background-color: blueviolet;
        color:blue;
    }
    h2{
        color:orangered;
    }
    small{
        color:purple;
    }
    input[type=checkbox]{
        padding:20px;
        transform: scale(2);
    }


}